<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
  <h1>firstname : <input type="text" ng-model="firstname"></h1>
    <h1>lastname : <input type="text" ng-model="lastname"></h1>
    <h1>FULLNAME:  {{firstname+" "+lastname}}</h1>
  </div>
  <script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl',function($scope){
      $scope.firstname ="rangaraju";
      $scope.lastname = "lastname";
    });
  </script>
</body>
</html>
